@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "variables";
@import "components";
@import 'navbar';
@import "header";
@import "events";
@import "explore";
@import "tours";
@import "footer";



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: $body-color;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.menu-btn{
  display: none;
}

